{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/cb792c0850.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>{{user_profile.user}}</title>
  <link rel="stylesheet" href="{%static 'css/app.css'%}">
  <style>
    /* Custom styles for the sidebar */

    .sidebar {
      background-color: #f8f9fa;
      height: 100vh;
      color: black;
    }

    .profile-pic {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }

    a {
      color: black;
    }

    .image-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 10px;
    }

    .image-item {
      border: 1px solid #ccc;
      padding: 10px;
    }

    .image-item:hover {
      border: 1px solid #777;

    }

    .image-item img {
      max-width: 100%;
      height: auto;
    }

    .card {
      background: #18283b;
      color: white;
    }

    .container-fluid {
      margin-top: 40px;
    }
  </style>
</head>

<body>



  <div id="nav-bar">
    <input id="nav-toggle" type="checkbox">
    <div id="nav-header">
      <a id="nav-title" href="/" target="_blank">
        SCRIBBLE
      </a>
      <label for="nav-toggle">
        <a id="nav-toggle-burger"></a>
      </label>
      <hr>
    </div>
    <div id="nav-content">
      <div class="nav-button">
        <i class="fas fa-palette"></i><a>Home</a>
      </div>
      <div class="nav-button">
        <i class="fas fa-images"></i><a>Explore</a>
      </div>
      <div class="nav-button">
        <i class="fas fa-thumbtack"></i><a>Saved Post</a>
      </div>
      <hr>
      <div class="nav-button">
        <i class="fas fa-heart"></i><a>Like</a>
      </div>
      <div class="nav-button">
        <i class="fas fa-chart-line"></i><a>Trending</a>
      </div>
      <div class="nav-button">
        <i class="fas fa-fire"></i><a>Message</a>
      </div>
      <div class="nav-button">
        <i class="fas fa-magic"></i><a href="http://localhost:3000/post">Create Post</a>
      </div>
      <hr>

      <div id="nav-content-highlight"></div>
    </div>
    <input id="nav-footer-toggle" type="checkbox">
    <div id="nav-footer">
      <div id="nav-footer-heading">
        <div id="nav-footer-avatar">
          <img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547">
        </div>
        <div id="nav-footer-titlebox">
          <a id="nav-footer-title" href="/profile/{{user}}" target="_blank">{{user}}</a>
        </div>

      </div>
    </div>
  </div>
  <div class="top-bar">

    <a id="top-title" href="/" target="_blank">
      <p>SCRIBBLE</p>
    </a>

    <div>
      <a id="nav-icons" href="/" target="_blank">
        <i class="fa fa-plus"></i>
      </a>
      <a id="nav-icons" href="/" target="_blank">
        <i class="fa fa-message"></i>
      </a>
    </div>
  </div>

  </div>
  <nav class="bottom-bar">
    <a href="/">
      <svg viewBox="0 0 100 100">
        <g transform="translate(10 5) scale(0.8 0.9)">
          <path d="M 0 30 v 70 h 100 v -70 l -50 -30 z" stroke="currentColor" stroke-width="10" fill="none"
            stroke-linejoin="round" stroke-linecap="round" />
        </g>
      </svg>
      <span>
        Home
      </span>
    </a>

    <a href="/likes">
      <svg viewBox="0 0 100 100">
        <g transform="translate(5 5) scale(0.9 0.9)">
          <path d="M 50 35 a 20 20 0 0 1 50 0 q 0 25 -50 60 q -50 -35 -50 -60 a 25 25 0 0 1 50 0" stroke="currentColor"
            stroke-width="10" fill="none" stroke-linejoin="round" stroke-linecap="round" />
        </g>
      </svg>
      <span>
        Likes
      </span>
    </a>

    <a href="/explore">
      <svg viewBox="0 0 100 100">
        <g transform="translate(5 5) scale(0.9 0.9)">
          <circle cx="45" cy="38" r="38" stroke="currentColor" stroke-width="10" fill="none" />
          <line x1="66" y1="65" x2="100" y2="100" stroke="currentColor" stroke-width="10" />
        </g>
      </svg>
      <span>
        Search
      </span>
    </a>

    <a class="active" href="/profile/{{user}}">
      <svg viewBox="0 0 100 100">
        <g transform="translate(5 5) scale(0.9 0.9)">
          <circle cx="50" cy="35" r="18" stroke="currentColor" stroke-width="10" fill="none" />
          <rect x="15" y="75" width="70" height="50" rx="25" stroke="currentColor" stroke-width="10" fill="none" />
        </g>
      </svg>
      <span>
        Profile
      </span>
    </a>
  </nav>

  <div class="container-fluid">
    <div class="row">
      
        {% include "edit_profile.html" %}


      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <!-- Your main content goes here -->
        <section class="gradient-custom-2">
          <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-lg-9 col-xl-7">
                <div class="card">
                  <div class="rounded-top text-white d-flex flex-row" style="background:black; height:200px;">
                    <div class="ms-4  d-flex flex-column" style="width: 150px; margin-top:5rem;">
                      <img src="{{user_profile.profileimg}}" alt="Generic placeholder image"
                        class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">

                      {% if user == user_profile.user %}
                      <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                        style="z-index: 1; margin: 5px;" data-bs-toggle="modal" data-bs-target="#exampleModal1"
                        data-bs-whatever="@getbootstrap">
                        Edit profile
                      </button>

                      {% endif %}




                    </div>
                    <div class="ms-3" style="margin-top: 130px;">
                      <h5>@{{user_profile.user}}</h5>

                      <p><i class="fa-solid fa-location-dot"></i> {{user_profile.location}}</p>

                    </div>
                    <div style="margin-inline-start: auto; margin-top: auto;background:white;">
                      <form action="/follow" method="POST">
                        {% csrf_token %}
                        {% if user != user_profile.user %}
                        <input type="hidden" value="{{user.username}}" name="follower" />
                        <input type="hidden" value="{{user_object.username}}" name="user" />
                        <button type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                          style="z-index: 1; margin: 5px;">
                          {{follow_unfollow}}
                        </button>

                        {% endif %}
                      </form>
                    </div>

                  </div>
                  <div class="p-4 text-black">
                    <div class="d-flex justify-content-end text-center py-1">
                      <div>
                        <p class="mb-1 h5">{{user_post_length}}</p>
                        <p class="small text-muted mb-0">Photos</p>
                      </div>
                      <div class="px-3">
                        <p class="mb-1 h5">{{user_followers}}</p>
                        <p class="small text-muted mb-0">Followers</p>
                      </div>
                      <div>
                        <p class="mb-1 h5">{{user_following}}</p>
                        <p class="small text-muted mb-0">Following</p>
                      </div>
                    </div>
                  </div>
                  <div style="background-color: '#18283b';" class="card-body p-4 text-black">
                    <div class="mb-5">
                      <p class="lead fw-normal mb-1">About</p>
                      <div class="p-4">
                        <p class="font-italic mb-1">{{user_profile.bio}}</p>
                      </div>

                    </div>
                    <div class="mb-5">
                      <p class="lead fw-normal mb-1">Photos</p>



                    </div>
                    {% if user_posts %}
                    <div class="image-grid">
                      {% for pos in user_posts %}
                      <div class="card image-item">
                        <img src="{{pos.image_url}}" class="card-img-top" alt="..." style="width: 219px;height: 219px;">

                        <div class="card-body">
                          <h5 class="card-title">{{pos.caption}}</h5>
                          {% if user == user_profile.user %} <a href=" /delete/{{pos.id}} "><i
                              class="fa-solid fa-trash"></i></a>


                          {% endif %}
                        </div>
                      </div>


                      {% endfor %}
                    </div>
                    {% else %}

                      <p style="text-align: center;">no post yet  </p>
                    {% endif %}




                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


      </main>

    </div>
  </div>
</body>

</html>